* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 5;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.nav > .nav-header {
  display: inline;
  height: 60px;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 32px;
  font-weight: 900;
  color: #66EB9A;
  padding: 5px 30px 0 30px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  font-size: 18px;
  height: 60px;
}

.nav > .nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #0e0e0e;
  width: auto;
  height: 50px;
  display: flex;
  overflow: hidden;
  background: #fff;
  margin: 0 10px 0 10px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.nav > .nav-links > a:hover {
  background-color: #66EB9A50;
}

.nav > #nav-check {
  display: none;
}

.select-btn {
  width: 135px;
  height: 50px;
  display: flex;
  overflow: hidden;
  background: #fff;
  margin: 0 10px 0 10px;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  position: relative;
}
.select-btn:hover {
  background-color: #66EB9A50;
}

.options {
  position: absolute;
  width: 250px;
  right: 0;
  overflow: auto;
  max-height: 295px;
  padding: 10px;
  margin: 0 10px 0 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  animation: fadeInDown 0.35s both;
}

 .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 ;
  border-radius: 8px;
  align-items: center;
  background: #fff;
  width: 100%!important;

}

.options .option .dropdown-item {
  width: 100%!important;
  height: 100%!important;
  margin: 0!important;
}

.options .option .dropdown-item:hover {
  background-color: #66EB9A50;
}

.options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-btn svg {
  height: 18px;
  width: 18px;
  transition: 0.2s;
}

.active .select-btn svg {
  transform: rotate(180deg);
}

.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation: fadeInUp 0.4s both;
}

.noProductsFound h2{
  font-weight: 900;
  font-size: 32px;
  color: #333;
}

.productsFound{
  padding: 75px 0 0 25px;
  position: relative;
}

.productsFound span{
  font-weight: 700;
  font-size: 20px;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.cards-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  min-height: 500px;
  margin: 20px;
  border-radius: 5px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .banner {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .banner::before {
  content: 'En solde';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,235,154,1) 0%, rgba(55,207,205,1) 77%, rgba(28,191,233,1) 100%);  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}

.card .banner::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  background: rgb(2,0,36);
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,235,154,1) 0%, rgba(55,207,205,1) 77%, rgba(28,191,233,1) 100%);
}

.card-img {
  background-color: #66EB9A50;
  height: 345px;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

.card .card-img img {
  width: 100%;
  height: 345px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 20px;
}

.card .categories{
  overflow: hidden;
}

.card .categories .category{
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #66EB9A50;
  border-radius: 10px;
  overflow: hidden;
}
.card-title {
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

 .card-info {
  padding-top: 15px;
 }
 
 svg {
  width: 20px;
  height: 20px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 10px 0px!important;

 }
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-10%);
  box-shadow: rgba(131, 226, 63, 0.25) 0px 13px 47px -5px, rgba(94, 210, 62, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button:hover {
  border: 1px solid #66EB9A50;
  background-color: #66EB9A50;
 }
 
 .card .sizes {
  border-radius: 10px;
  transition: border 1s;
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  top: 20px;
  right: 20px;
  width: 30px;
}

.card .sizes .size {
  width: 30px;
  height: 30px;
  padding-top: 3px;
  margin: 5px 10px;
  background-color: #eeeeee63;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
}


ul.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

ul.pagination li {
  display: inline-block;
  margin: 0 5px;
}

ul.pagination li a,
ul.pagination li span {
  display: block;
  padding: 5px 10px;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

ul.pagination li a:hover {
  background-color: #f0f0f0;
}

ul.pagination li.active span {
  background-color: #66EB9A;
  color: #fff;
  border-color: #66EB9A;
}

ul.pagination li.disabled span {
  opacity: 0.5;
  pointer-events: none;
}


@media (max-width:860px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 19px;
    background-color: #66EB9A;
    cursor: pointer;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #66EB9A85;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #eee;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
  }
  .nav > .nav-links a {
    width: calc(100% - 20px); 
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  
  .select-btn {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 20px;
  }

  .options {
    width: calc(100% - 20px);
  }

 .options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 ;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    width: 100%!important;
  }

  .options .option .dropdown-item {
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
    display: flex;
    justify-content: flex-start;
  }
}